@charset "UTF-8";
body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address {
  font-family: "Noto Sans Japanese", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif;
  font-size: 12px;
  line-height: 2;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  letter-spacing: 0.06em;
  line-height: 2;
}
@media only screen and (min-width: 1200px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 13px;
  }
}
@media only screen and (min-width: 1300px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1400px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1500px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1600px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 17px;
  }
}
@media only screen and (min-width: 1700px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1800px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1900px) {
  body,
  th,
  td,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  input,
  textarea,
  option,
  div,
  p,
  dt,
  dd,
  li,
  address {
    font-size: 20px;
  }
}

::selection {
  color: #222222;
  background: #e6e6e6;
}

::-moz-selection {
  color: #222222;
  background: #e6e6e6;
}

body {
  width: 100%;
  height: auto;
}

body {
  opacity: 0;
  background-color: #fafafa;
  transition: opacity 1200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -webkit-transition: opacity 1200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -moz-transition: opacity 1200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -o-transition: opacity 1200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -ms-transition: opacity 1200ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
}

body.load {
  opacity: 1;
}

a {
  cursor: pointer;
}

#wrapAll {
  width: 100%;
  height: 100%;
}
#wrapAll #main {
  width: 100%;
  height: 100%;
  position: relative;
}
#wrapAll #main #article {
  width: 100%;
  height: 100%;
}
#wrapAll #main #article .page {
  width: 100%;
}
#wrapAll #main #article .page .page_wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
/*  padding-top: 5%;
*/}
#wrapAll #main #article .page .page_wrap.pt0 {
  padding-top: 0 !important;
}
#wrapAll #main #article .page h1 {
  text-align: center;
}
#wrapAll #main #article .page h1 span {
  font-size: 2em;
  font-family: "Archivo Black", sans-serif;
}
#wrapAll #main #article .page h2 {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
}
#wrapAll #main #article .page h2 span {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}
#wrapAll #main #article .page h3 {
  text-align: center;
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 2em;
}
#wrapAll #main #article .page h3 span {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}
#wrapAll #main #article .page h4 {
  text-align: left;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: 1.6em;
}
#wrapAll #main #article .page h4 span {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
}
#wrapAll #main #article .page a.link {
  color: #e14848;
  text-decoration: underline;
}
#wrapAll #main #article .page a.link:hover {
  text-decoration: none;
}
#wrapAll #main #article .page p.txt {
  margin-bottom: 5%;
  font-size: 1.4em;
  display: block;
}
#wrapAll #main #article .page p.txt span.red {
  display: inline-block;
  color: #e14848;
  font-weight: bold;
}
#wrapAll #main #article .page p.txt span.blue {
  display: inline-block;
  font-weight: bold;
  color: #2a56d5;
}
#wrapAll #main #article .page p.txt b {
  font-weight: bold;
  display: block;
  font-size: 1.3em;
}
#wrapAll #main #article .page p.txt a.downlod {
  display: block;
  margin-top: 2%;
  margin-bottom: 2%;
  font-weight: bold;
}
#wrapAll #main #article .page p.txt a.downlod span {
  font-family: "Archivo Black", sans-serif;
  display: inline-block;
  padding: 0.5em 1em;
  background-color: #ccc;
}
#wrapAll #main #article .page p.txt a.downlod span:hover {
  background-color: #eee;
}
#wrapAll #main #article .page .screen {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  border: 0.2em solid rgba(0, 0, 0, 0.4);
}
#wrapAll #main #article .page .screen img {
  display: block;
  width: 100%;
  height: auto;
}
#wrapAll #main #article .page ul.mokuji {
  width: 100%;
  overflow: hidden;
}
#wrapAll #main #article .page ul.mokuji li {
  width: 33%;
  text-align: left;
  float: left;
  margin-bottom: 2%;
  font-size: 1.3em;
  font-weight: bold;
}
#wrapAll #main #article .page .box {
  padding-top: 5%;
  padding-bottom: 5%;
}
#wrapAll #main #article .page .bt {
  border-top: 0.2em solid rgba(0, 0, 0, 0.4);
}
#wrapAll #main #article .page .bb {
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.4);
}
#wrapAll #main #article .page .bdb {
  border-bottom: 0.2em dotted rgba(0, 0, 0, 0.4);
  margin-bottom: 5%;
}

.dit {
  height: 100%;
  width: 100%;
  display: table;
}
.dit .dtc {
  display: table-cell;
  vertical-align: middle;
}

div#slide {
  position: relative;
}
div#slide a.back {
  z-index: 5000;
  font-size: 2em;
  text-align: center;
  position: absolute;
  width: 80%;
  left: 5%;
  bottom: 0;
}
div#slide div.slide_wrap {
  width: 100%;
  height: 100%;
}
div#slide div.slide_wrap ul#article {
  width: 100%;
  height: 100%;
  position: relative;
}
div#slide div.slide_wrap ul#article li.page {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
div#slide a.slide_arr {
  width: 5%;
  min-width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1002;
}
div#slide a.slide_arr:hover:before {
  opacity: 0.1;
}
div#slide a.slide_arr:hover:after {
  opacity: 1;
}
div#slide a.slide_arr.slide_prev {
  left: 0;
}
div#slide a.slide_arr.slide_next {
  right: 0;
}
div#slide a.slide_arr:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: relative;
  z-index: 0;
  top: 0;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -webkit-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -moz-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -o-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -ms-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
}
div#slide a.slide_arr:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px auto;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -webkit-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -moz-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -o-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -ms-transition: opacity 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
}
div#slide ul.ctrl {
  position: absolute;
  text-align: center;
  bottom: 0;
  z-index: 1002;
  width: 100%;
  display: none !important;
}
div#slide ul.ctrl li {
  display: inline-block;
  margin: 0 5px;
}
div#slide ul.ctrl li a {
  display: block;
  padding: 10px;
  width: 10px;
  height: 10px;
  position: relative;
  font-size: 0;
}
div#slide ul.ctrl li a:hover:after {
  background-color: #ccc;
  border: 1px solid #fff;
}
div#slide ul.ctrl li a.on:after {
  background-color: #000;
  border: 1px solid #fff;
}
div#slide ul.ctrl li a:after {
  content: "";
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 100%;
  display: block;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid #fff;
  transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -moz-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -o-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
  -ms-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0ms;
}

pre {
  margin-bottom: 5%;
  font-size: 1.3em;
  white-space: pre-wrap;
  letter-spacing: 0em;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #333;
  color: #fff;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 3px;
  font-family: 'Source Code Pro', monospace;
}
pre span {
  color: #999;
}
pre span.yellow {
  color: #e2e84b !important;
}
pre::selection {
  color: #222222 !important;
  background: #e2e84b !important;
}
pre::-moz-selection {
  color: #222222 !important;
  background: #e2e84b !important;
}
pre *::selection {
  color: #222222 !important;
  background: #e2e84b !important;
}
pre *::-moz-selection {
  color: #222222 !important;
  background: #e2e84b !important;
}

.mock1 {
  width: 1000px;
  height: 600px;
  background-color: #2A7FD0;
  position: relative;
  margin-bottom: 5%;
}
.mock1 .an {
  width: 447px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -223px;
  margin-top: -150px;
}
.mock1 .an img {
  display: block;
}

.mock2 {
  width: 1000px;
  height: 600px;
  background-color: #2A7FD0;
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
}
.mock2 .an {
  width: 447px;
  height: 300px;
  position: absolute;
  top: 50%;
  right: -447px;
  margin-left: 0px;
  margin-top: -150px;
  animation: ampan 3000ms ease 0ms infinite;
  -webkit-animation: ampan 3000ms ease 0ms infinite;
  -moz-animation: ampan 3000ms ease 0ms infinite;
  -o-animation: ampan 3000ms ease 0ms infinite;
  -ms-animation: ampan 3000ms ease 0ms infinite;
}
.mock2 .an img {
  display: block;
}

@keyframes ampan {
  0% {
    right: -447px;
  }
  100% {
    right: 1447px;
  }
}
@-webkit-keyframes ampan {
  0% {
    right: -447px;
  }
  100% {
    right: 1447px;
  }
}

.d_table{
  display: table;
}
.d_cell{
  display: table-cell;
  vertical-align: middle;
}

.l-center{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
}
.tac{
  text-align: center !important;
}

.tal{
  text-align: left !important;
}

.w_50{
  width: 50%;
  margin-left:auto;
  margin-right: auto;
}

.txt-link{
  color:#4e4d54;
  text-decoration: underline;
}
.txt-link:hover{
  text-decoration: none;
}
.mb0{
  margin-bottom: 0 !important;
}
.red{
  color: #e14848 !important;
  font-weight: bold !important;
}

.btn{
  display: inline-block;
  text-align: center;
  padding:0.5em 1em;
  width:260px;
  background-color:#e9ebeb;
  margin-right:1em;
  margin-bottom:1em;
  font-size: 1.5em;
  font-weight: bold;
}
.btn:hover{
  background-color:#bdbdbe;  
}

.trans{
  transition:background-color 0.5s ease 0s;
  transform:none;
}

.transall{
  transition:all 0.5s ease 0s;
  transform:none;
}

.delay{
  transition:background-color 0.5s ease 1s;
}

.multi{
  transition:background-color 0.5s ease 0s,width 0.5s ease 0s;
}
.multi:hover{
  width: 300px;
}
.pb0{
  padding-bottom: 0 !important;
}

.pt5{
      padding-top: 5% !important;
}

.circle{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  background: #bdbdbe;
  font-weight: bold;
}

.sq{
  width: 100px;
  height: 100px;
  font-weight: bold;
    display: inline-block;
  background: #bdbdbe;
}

.translate3d:hover{
  -webkit-transform: translate3d(50px,0,0);
  -moz-transform: translate3d(50px,0,0);
  -ms-transform: translate3d(50px,0,0);
  -o-transform: translate3d(50px,0,0);
  transform: translate3d(50px,0,0);
}

.scale:hover{
  -webkit-transform: scale(1.2,1.2);
  -moz-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2);
  -o-transform: scale(1.2,1.2);
  transform: scale(1.2,1.2);
}

.rotate:hover{
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.skew:hover{
  -webkit-transform: skew(20deg,0deg);
  -moz-transform: skew(20deg,0deg);
  -ms-transform: skew(20deg,0deg);
  -o-transform: skew(20deg,0deg);
  transform: skew(20deg,0deg);
}

.hint{
  color:#bdbdbe;
}
.hint *{
  color:#bdbdbe;
}
.blue{
  color: #2a56d5 !important;
}

.container{
  width:900px;
  margin:auto;
}

.flash{
      display: block;
  margin-top:50px;
  animation: buttonFlash 1s linear infinite;
}

@keyframes buttonFlash {
  0% {
    opacity: 0.2;
  }
  8% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}



@-webkit-keyframes floating-1 {
    0% {
        -webkit-transform: rotate(2deg) scale(1) skew(3deg);
        -moz-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg);
        transform: rotate(2deg) scale(1) skew(3deg)
    }
    50% {
        -webkit-transform: rotate(1deg) scale(0.95) skew(-2deg);
        -moz-transform: rotate(1deg) scale(0.95) skew(-2deg);
        -o-transform: rotate(1deg) scale(0.95) skew(-2deg);
        transform: rotate(1deg) scale(0.95) skew(-2deg)
    }
    100% {
        -webkit-transform: rotate(2deg) scale(1) skew(3deg);
        -moz-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg)
    }
}

@-moz-keyframes floating-1 {
    0% {
        -webkit-transform: rotate(2deg) scale(1) skew(3deg);
        -moz-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg);
        transform: rotate(2deg) scale(1) skew(3deg)
    }
    50% {
        -webkit-transform: rotate(1deg) scale(0.95) skew(-2deg);
        -moz-transform: rotate(1deg) scale(0.95) skew(-2deg);
        -o-transform: rotate(1deg) scale(0.95) skew(-2deg);
        transform: rotate(1deg) scale(0.95) skew(-2deg)
    }
    100% {
        -webkit-transform: rotate(2deg) scale(1) skew(3deg);
        -moz-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg);
        transform: rotate(2deg) scale(1) skew(3deg)
    }
}

@-o-keyframes floating-1 {
    0% {
        -webkit-transform: rotate(2deg) scale(1) skew(3deg);
        -moz-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg);
        transform: rotate(2deg) scale(1) skew(3deg)
    }
    50% {
        -webkit-transform: rotate(1deg) scale(0.95) skew(-2deg);
        -moz-transform: rotate(1deg) scale(0.95) skew(-2deg);
        -o-transform: rotate(1deg) scale(0.95) skew(-2deg);
        transform: rotate(1deg) scale(0.95) skew(-2deg)
    }
    100% {
        -webkit-transform: rotate(2deg) scale(1) skew(3deg);
        -moz-transform: rotate(2deg) scale(1) skew(3deg);
        -o-transform: rotate(2deg) scale(1) skew(3deg);
        transform: rotate(2deg) scale(1) skew(3deg)
    }
}
.floating {
    -webkit-animation: floating-1 15s ease-in-out infinite;
    -moz-animation: floating-1 15s ease-in-out infinite;
    -o-animation: floating-1 15s ease-in-out infinite;
    animation: floating-1 15s ease-in-out infinite;
    backface-visibility: hidden;
    webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
.fthumb{
  width:400px;
  height: 200px;
  display: block;
  margin:auto;
}

.fthumb img{
  width: 100%;
  height: 100%;
}

.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); 
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); 
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; 
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; 
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; 
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; 
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; 
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; 
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; 
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; } 
}