@charset "utf-8";
/**
 * Table of Contents:
 *
 * 1.0 - Reset
 * 2.0 - Module
 * 3.0 - Basic
 * 4.0 - Header
 * 5.0 - Main
 * 7.0 - Footer
 * 8.0 - Print
 * -----------------------------------------------------------------------------
 */
/**
 * Setting
 * -----------------------------------------------------------------------------
 */
/**
 * Mixin
 * -----------------------------------------------------------------------------
 */
/**
 * Reset
 * -----------------------------------------------------------------------------
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, menu, nav, section, menu,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background-color: transparent;
}

body {
  line-height: 1;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display: block;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/**
 * Module
 * -----------------------------------------------------------------------------
 */
.mb0 {
  margin-bottom: 0px !important;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb11 {
  margin-bottom: 11px;
}

.mb14 {
  margin-bottom: 14px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb35 {
  margin-bottom: 35px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb45 {
  margin-bottom: 45px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb55 {
  margin-bottom: 55px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb65 {
  margin-bottom: 65px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb75 {
  margin-bottom: 75px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb85 {
  margin-bottom: 85px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb95 {
  margin-bottom: 95px;
}

.mb100 {
  margin-bottom: 100px;
}

.mr5 {
  margin-right: 5px;
}

.mr9 {
  margin-right: 9px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr25 {
  margin-right: 25px;
}

.mr30 {
  margin-right: 30px;
}

.mr35 {
  margin-right: 35px;
}

.mr40 {
  margin-right: 40px;
}

.mr45 {
  margin-right: 45px;
}

.mr50 {
  margin-right: 50px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.ml25 {
  margin-left: 25px;
}

.ml30 {
  margin-left: 30px;
}

.ml35 {
  margin-left: 35px;
}

.ml40 {
  margin-left: 40px;
}

.ml45 {
  margin-left: 45px;
}

.ml50 {
  margin-left: 50px;
}

.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pt25 {
  padding-top: 25px;
}

.pt30 {
  padding-top: 30px;
}

.pt35 {
  padding-top: 35px;
}

.op a img,
.op2 {
  transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
}

.op a img:hover,
.op2:hover {
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.flL {
  float: left;
}

.flR {
  float: right;
}

.clearfix:after {
  height: 0;
  visibility: hidden;
  content: ".";
  display: block;
  clear: both;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}

.clearfix {
  _height: 1px;
  min-height: 1px;
  /*・･*/
  /*/
  height: auto;
  overflow: hidden;
  /**/
}

.show_pc {
  display: block;
}
@media only screen and (max-width: 979px) {
  .show_pc {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .show_pc {
    display: none;
  }
}

.show_pctb {
  display: block;
}
@media only screen and (max-width: 979px) {
  .show_pctb {
    display: block;
  }
}
@media only screen and (max-width: 479px) {
  .show_pctb {
    display: none;
  }
}

.show_tbsp {
  display: none;
}
@media only screen and (max-width: 979px) {
  .show_tbsp {
    display: block;
  }
}
@media only screen and (max-width: 479px) {
  .show_tbsp {
    display: block;
  }
}

.show_tb {
  display: none;
}
@media only screen and (max-width: 979px) {
  .show_tb {
    display: block;
  }
}
@media only screen and (max-width: 479px) {
  .show_tb {
    display: none;
  }
}

.show_sp {
  display: none;
}
@media only screen and (max-width: 979px) {
  .show_sp {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  .show_sp {
    display: block;
  }
}

/**
 * Basic
 * -----------------------------------------------------------------------------
 */
/*-------------------------------------------------
  layout base 
-------------------------------------------------*/
html, body {
  height: 100%;
  background-color: #ffffff;
}

/*-------------------------------------------------
  text color and size
-------------------------------------------------*/
body, th, td, h1, h2, h3, h4, h5, h6, pre, input, textarea, option, div, p, dt, dd, li, address {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  color: #333333;
}

/*-------------------------------------------------
 text link
 -------------------------------------------------*/
a {
  color: #333333;
  text-decoration: none;
}

a:visited {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

/*-------------------------------------------------
  article
-------------------------------------------------*/
article {
  text-align: left;
}

/**
 * Header
 * -----------------------------------------------------------------------------
 */
/**
 * Main
 * -----------------------------------------------------------------------------
 */
.page-index {
  padding-top: 100px;
  background-color: #f7f7f7;
}
.page-index ul {
  padding-left: 100px;
}
.page-index ul li a {
  color: #2f4a96;
  line-height: 26px;
  letter-spacing: 0.2em;
  transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms;
  -webkit-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms;
  -moz-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms;
  -ms-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms;
  -o-transition: all 400ms cubic-bezier(0.42, 0, 0.58, 1) 0ms;
  background-color: transparent;
}
.page-index ul li a:hover {
  background-color: #f9f72b;
}
.page-index ul li a:before {
  content: '+ ';
}

body,
th,
td,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
input,
textarea,
option,
div,
p,
dt,
dd,
li,
address {
  font-family: YuGothic, '游ゴシック', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  font-style: normal;
  color: #222222;
  letter-spacing: 0.1em;
  line-height: 2;
}

body.fz10 th, body.fz10 td, body.fz10 h1, body.fz10 h2, body.fz10 h3, body.fz10 h4, body.fz10 h5, body.fz10 h6, body.fz10 pre, body.fz10 input, body.fz10 textarea, body.fz10 option, body.fz10 div, body.fz10 p, body.fz10 dt, body.fz10 dd, body.fz10 li, body.fz10 address {
  font-size: 10px;
}

body.fz11 th, body.fz11 td, body.fz11 h1, body.fz11 h2, body.fz11 h3, body.fz11 h4, body.fz11 h5, body.fz11 h6, body.fz11 pre, body.fz11 input, body.fz11 textarea, body.fz11 option, body.fz11 div, body.fz11 p, body.fz11 dt, body.fz11 dd, body.fz11 li, body.fz11 address {
  font-size: 11px;
}

body.fz12 th, body.fz12 td, body.fz12 h1, body.fz12 h2, body.fz12 h3, body.fz12 h4, body.fz12 h5, body.fz12 h6, body.fz12 pre, body.fz12 input, body.fz12 textarea, body.fz12 option, body.fz12 div, body.fz12 p, body.fz12 dt, body.fz12 dd, body.fz12 li, body.fz12 address {
  font-size: 12px;
}

body.fz13 th, body.fz13 td, body.fz13 h1, body.fz13 h2, body.fz13 h3, body.fz13 h4, body.fz13 h5, body.fz13 h6, body.fz13 pre, body.fz13 input, body.fz13 textarea, body.fz13 option, body.fz13 div, body.fz13 p, body.fz13 dt, body.fz13 dd, body.fz13 li, body.fz13 address {
  font-size: 13px;
}

body.fz14 th, body.fz14 td, body.fz14 h1, body.fz14 h2, body.fz14 h3, body.fz14 h4, body.fz14 h5, body.fz14 h6, body.fz14 pre, body.fz14 input, body.fz14 textarea, body.fz14 option, body.fz14 div, body.fz14 p, body.fz14 dt, body.fz14 dd, body.fz14 li, body.fz14 address {
  font-size: 14px;
}

body.fz15 th, body.fz15 td, body.fz15 h1, body.fz15 h2, body.fz15 h3, body.fz15 h4, body.fz15 h5, body.fz15 h6, body.fz15 pre, body.fz15 input, body.fz15 textarea, body.fz15 option, body.fz15 div, body.fz15 p, body.fz15 dt, body.fz15 dd, body.fz15 li, body.fz15 address {
  font-size: 15px;
}

body.fz16 th, body.fz16 td, body.fz16 h1, body.fz16 h2, body.fz16 h3, body.fz16 h4, body.fz16 h5, body.fz16 h6, body.fz16 pre, body.fz16 input, body.fz16 textarea, body.fz16 option, body.fz16 div, body.fz16 p, body.fz16 dt, body.fz16 dd, body.fz16 li, body.fz16 address {
  font-size: 16px;
}

body.fz17 th, body.fz17 td, body.fz17 h1, body.fz17 h2, body.fz17 h3, body.fz17 h4, body.fz17 h5, body.fz17 h6, body.fz17 pre, body.fz17 input, body.fz17 textarea, body.fz17 option, body.fz17 div, body.fz17 p, body.fz17 dt, body.fz17 dd, body.fz17 li, body.fz17 address {
  font-size: 17px;
}

body.fz18 th, body.fz18 td, body.fz18 h1, body.fz18 h2, body.fz18 h3, body.fz18 h4, body.fz18 h5, body.fz18 h6, body.fz18 pre, body.fz18 input, body.fz18 textarea, body.fz18 option, body.fz18 div, body.fz18 p, body.fz18 dt, body.fz18 dd, body.fz18 li, body.fz18 address {
  font-size: 18px;
}

body.fz19 th, body.fz19 td, body.fz19 h1, body.fz19 h2, body.fz19 h3, body.fz19 h4, body.fz19 h5, body.fz19 h6, body.fz19 pre, body.fz19 input, body.fz19 textarea, body.fz19 option, body.fz19 div, body.fz19 p, body.fz19 dt, body.fz19 dd, body.fz19 li, body.fz19 address {
  font-size: 19px;
}

body.fz21 th, body.fz21 td, body.fz21 h1, body.fz21 h2, body.fz21 h3, body.fz21 h4, body.fz21 h5, body.fz21 h6, body.fz21 pre, body.fz21 input, body.fz21 textarea, body.fz21 option, body.fz21 div, body.fz21 p, body.fz21 dt, body.fz21 dd, body.fz21 li, body.fz21 address {
  font-size: 21px;
}

body.fz22 th, body.fz22 td, body.fz22 h1, body.fz22 h2, body.fz22 h3, body.fz22 h4, body.fz22 h5, body.fz22 h6, body.fz22 pre, body.fz22 input, body.fz22 textarea, body.fz22 option, body.fz22 div, body.fz22 p, body.fz22 dt, body.fz22 dd, body.fz22 li, body.fz22 address {
  font-size: 22px;
}

body.fz23 th, body.fz23 td, body.fz23 h1, body.fz23 h2, body.fz23 h3, body.fz23 h4, body.fz23 h5, body.fz23 h6, body.fz23 pre, body.fz23 input, body.fz23 textarea, body.fz23 option, body.fz23 div, body.fz23 p, body.fz23 dt, body.fz23 dd, body.fz23 li, body.fz23 address {
  font-size: 23px;
}

body.fz24 th, body.fz24 td, body.fz24 h1, body.fz24 h2, body.fz24 h3, body.fz24 h4, body.fz24 h5, body.fz24 h6, body.fz24 pre, body.fz24 input, body.fz24 textarea, body.fz24 option, body.fz24 div, body.fz24 p, body.fz24 dt, body.fz24 dd, body.fz24 li, body.fz24 address {
  font-size: 24px;
}

body.fz25 th, body.fz25 td, body.fz25 h1, body.fz25 h2, body.fz25 h3, body.fz25 h4, body.fz25 h5, body.fz25 h6, body.fz25 pre, body.fz25 input, body.fz25 textarea, body.fz25 option, body.fz25 div, body.fz25 p, body.fz25 dt, body.fz25 dd, body.fz25 li, body.fz25 address {
  font-size: 25px;
}

body.fz26 th, body.fz26 td, body.fz26 h1, body.fz26 h2, body.fz26 h3, body.fz26 h4, body.fz26 h5, body.fz26 h6, body.fz26 pre, body.fz26 input, body.fz26 textarea, body.fz26 option, body.fz26 div, body.fz26 p, body.fz26 dt, body.fz26 dd, body.fz26 li, body.fz26 address {
  font-size: 26px;
}

body.fz27 th, body.fz27 td, body.fz27 h1, body.fz27 h2, body.fz27 h3, body.fz27 h4, body.fz27 h5, body.fz27 h6, body.fz27 pre, body.fz27 input, body.fz27 textarea, body.fz27 option, body.fz27 div, body.fz27 p, body.fz27 dt, body.fz27 dd, body.fz27 li, body.fz27 address {
  font-size: 27px;
}

body.fz28 th, body.fz28 td, body.fz28 h1, body.fz28 h2, body.fz28 h3, body.fz28 h4, body.fz28 h5, body.fz28 h6, body.fz28 pre, body.fz28 input, body.fz28 textarea, body.fz28 option, body.fz28 div, body.fz28 p, body.fz28 dt, body.fz28 dd, body.fz28 li, body.fz28 address {
  font-size: 28px;
}

body.fz29 th, body.fz29 td, body.fz29 h1, body.fz29 h2, body.fz29 h3, body.fz29 h4, body.fz29 h5, body.fz29 h6, body.fz29 pre, body.fz29 input, body.fz29 textarea, body.fz29 option, body.fz29 div, body.fz29 p, body.fz29 dt, body.fz29 dd, body.fz29 li, body.fz29 address {
  font-size: 29px;
}

body.fz30 th, body.fz30 td, body.fz30 h1, body.fz30 h2, body.fz30 h3, body.fz30 h4, body.fz30 h5, body.fz30 h6, body.fz30 pre, body.fz30 input, body.fz30 textarea, body.fz30 option, body.fz30 div, body.fz30 p, body.fz30 dt, body.fz30 dd, body.fz30 li, body.fz30 address {
  font-size: 30px;
}

/**
 * Footer
 * -----------------------------------------------------------------------------
 */
/**
 * Print
 * -----------------------------------------------------------------------------
 */
